.header {
  text-align: center;
  font-family: 'Terminal', monospace; /* Use an appropriate monospaced font */
  white-space: pre; /* Preserve whitespace */
  color: #32b141; /* Set the text color to white */
  background-color: #000000; /* Set the background color to black */

@media screen and (max-width: 800px){
    font-size: 10px;
}
@media screen and (max-width: 500px){
    font-size: 7px;
}

 padding: 20px; /* Add padding for better visibility */
}

.blink-underscore{
  position: absolute;
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

