@import '../../node_modules/bootstrap/scss/bootstrap';
body {
  font-family: sans-serif;
}
/* styles.css (or your preferred style file) */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
  gap: 20px; /* Adjust the gap between blog posts */
  justify-items: space-evenly; /* Center content horizontally within each grid item */
}

.blog-post {
  padding: 20px;
  text-align: center;
background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  color: #f0f0f0;
    h2 {
          font-size: 1.5rem;
          margin-bottom: 10px;
    }
    p {
        font-size: 1rem;
        color: #b3b3b3;
    }
     a {
      display: block;
      margin-top: 10px; /* Add space below the date */
      text-decoration: none;
      color: #0077cc; /* Link color */
      transition: color 0.3s ease; /* Smooth color transition on hover */
    }
}

/* Style the "Read more" link */
.blog-post.blog-post h2 a {
    text-decoration: none;
    color: #f0f0f0;
}

.blog-post a:hover {
  color: #005299; /* Link color on hover */
}
.thumb-nail img{
    width:50%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.individual-blog-post {
    text-align: center;
    display: flex;
    justify-content: center;
}
.about-page {
    margin: 1em 1em 1em;
    left-margin: 5em;
}
