@import '../../node_modules/bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import './variables.scss';
body {
  font-family: 'Courier New', monospace;
  background-color: #000;
  color: $terminal-font; /* Set the text color to white */
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column width as needed */
  gap: 20px; /* Adjust the gap between blog posts */
  justify-items: space-evenly; /* Center content horizontally within each grid item */
}

.center-header-img {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.individual-blog-post {
    text-align: center;
}

.about-page {
    margin: 1em 1em 1em;
    left-margin: 5em;
}
.contact {
    font-size: 1.5em;
}

.nav-link {
    color: $terminal-font;
}

.active{
    color: $terminal-font !important;
    background-color: #000 !important;
    border: 1px solid $terminal-font;
    }

